In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/ds-mahbub/Correlation-Between-Personality-and-Courses/main/Data(new1).csv') # Collected By me
# df = pd.read_csv('https://raw.githubusercontent.com/ds-mahbub/Correlation-Between-Personality-and-Courses/main/data2.csv') # Given
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
sample = df.sample(5)
sample

,Timestamp,Name,Gender,Age,Division,Hobby,STH_WeeklyAvg,Email,HSC_Gpa,HSC_Group,HSC_Grade_Math,HSC_Grade_Physics,HSC_Grade_Biology,HSC_Grade_Chemistry,HSC_Grade_Accounting,HSC_Grade_Economics,HSC_Grade_BOM,HSC_Grade_FBI,HSC_Grade_Logic,HSC_Grade_History,HSC_Grade_Sociology,HSC_Grade_Geography,HSC_Grade_ICT,Fvrt_Subject,Fvrt_Sub_Grade,Undergraduate_Sub_Wanted,Undergraduate_Sub,University Name,Undergraduate_Programm,Year_Studying,Program_Advisor,Satisfaction,Current_CGPA,Difficulty_Undergraduate,e1,e3,a1,a3,c1,c3,n1,n3,o1,e2,e4,a4,a2,c2,c4,n2,n4,o3,o2,o4,r1,r2,r3,r4,r5,r6,r7,r8,r9,r10,r11,r12,r13
3,9/12/2023 15:17,Abdur Rahman,Male,22 above,Dhaka,"Reading, Music, Video games, Watching movies /...",10-May,thh1138@gmail.com,4.0 -4.4,Commerce,NaN,NaN,NaN,NaN,A+,A,A+,A,NaN,NaN,NaN,NaN,A+,Accounting,A,Business Admisistration,Business Administration,National University,Marketing,4th year,Inspired by your passion or interest,Yes,3.00-3.25,No,Neutral,Agree,Neutral,Neutral,Neutral,Agree,Agree,Agree,Agree,Neutral,Disagree,Neutral,Neutral,Neutral,Disagree,Neutral,Neutral,Disagree,Disagree,Strongly Disagree,Agree,Neutral,Agree,Neutral,Neutral,Agree,Agree,Neutral,Agree,Agree,Agree,Strongly Disagree,Disagree
26,9/14/2023 0:54,Junaid Rahman Mokit,Male,20-22,Dhaka,Sports,10-May,jmokit212096@bscse.uiu.ac.bd,4.5 - 4.9,Science,A,A,A+,A+,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A+,Biology,A+,Engineering & Technology,Engineering & Technology,United International University,CSE,3rd year,Inspired by your passion or interest,Yes,2.75 - 2.99,Yes,Agree,Strongly Agree,Agree,Strongly Agree,Disagree,Disagree,Agree,Strongly Agree,Strongly Disagree,Strongly Disagree,Disagree,Neutral,Strongly Agree,Disagree,Neutral,Disagree,Agree,Neutral,Neutral,Agree,Disagree,Disagree,Neutral,Agree,Strongly Disagree,Strongly Agree,Agree,Strongly Agree,Strongly Agree,Disagree,Strongly Agree,Strongly Agree,Neutral
25,9/14/2023 0:31,Khorshed Alam,Male,22 above,Chittagong,"Reading, Photography, Watching movies / TV ser...",15-Nov,mohdkhurshed120@gmail.com,3.5-3.9,Science,A+,A-,B,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A+,Math,A+,Engineering & Technology,Engineering & Technology,East Delta University,CSE,4th year,"Inspired by your passion or interest, Inspired...",Yes,3.5 -3.74,No,Strongly Disagree,Neutral,Agree,Strongly Agree,Strongly Agree,Disagree,Agree,Strongly Disagree,Strongly Agree,Strongly Disagree,Strongly Agree,Strongly Agree,Strongly Agree,Neutral,Strongly Agree,Neutral,Neutral,Strongly Disagree,Strongly Disagree,Strongly Agree,Strongly Agree,Strongly Agree,Strongly Agree,Strongly Agree,Agree,Agree,Agree,Strongly Agree,Neutral,Disagree,Strongly Agree,Disagree,Strongly Disagree
17,9/13/2023 13:07,Md.Shohan Sikder,Male,20-22,Dhaka,"Sports, Watching movies / TV series, Cooking",0-5,mdshohansikder13@gmail.com,5,Science,A+,A+,A+,A+,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A+,Physics,A,Pure & Applied Sciences,Pure & Applied Sciences,Dhaka University,Statistics,2nd year,"Inspired by your passion or interest, Guided b...",Yes,3.00-3.24,Sometimes,Agree,Agree,Neutral,Agree,Strongly Agree,Strongly Agree,Agree,Neutral,Agree,Neutral,Disagree,Strongly Agree,Strongly Agree,Neutral,Strongly Disagree,Agree,Agree,Neutral,Neutral,Strongly Disagree,Agree,Neutral,Neutral,Agree,Strongly Agree,Agree,Strongly Agree,Strongly Agree,Strongly Agree,Neutral,Agree,Neutral,Disagree
30,9/14/2023 11:11,MD ASHIKUR RAHMAN,Male,20-22,Khulna,Sports,0-5,mdasikur254@gmail.com,5,Science,A+,A+,A+,A+,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A+,Chemistry,A+,Engineering & Technology,Engineering & Technology,Dhaka college,Statistics,1st year,Guided by parents/guardian/relatives,Yes,3.5 -3.74,Sometimes,Disagree,Disagree,Neutral,Neutral,Neutral,Neutral,Disagree,Disagree,Neutral,Neutral,Neutral,Disagree,Neutral,Disagree,Neutral,Neutral,Neutral,Disagree,Neutral,Neutral,Disagree,Disagree,Neutral,Neutral,Neutral,Neutral,Neutral,Neutral,Neutral,Disagree,Disagree,Neutral,Disagree

In [4]:
df.columns

Index(['Timestamp', 'Name', 'Gender', 'Age', 'Division', 'Hobby', 'STH_WeeklyAvg', 'Email', 'HSC_Gpa', 'HSC_Group', 'HSC_Grade_Math', 'HSC_Grade_Physics', 'HSC_Grade_Biology', 'HSC_Grade_Chemistry', 'HSC_Grade_Accounting', 'HSC_Grade_Economics', 'HSC_Grade_BOM', 'HSC_Grade_FBI', 'HSC_Grade_Logic', 'HSC_Grade_History', 'HSC_Grade_Sociology', 'HSC_Grade_Geography', 'HSC_Grade_ICT', 'Fvrt_Subject', 'Fvrt_Sub_Grade', 'Undergraduate_Sub_Wanted', 'Undergraduate_Sub', 'University Name', 'Undergraduate_Programm', 'Year_Studying', 'Program_Advisor', 'Satisfaction', 'Current_CGPA', 'Difficulty_Undergraduate', 'e1', 'e3', 'a1', 'a3', 'c1', 'c3', 'n1', 'n3', 'o1', 'e2', 'e4', 'a4', 'a2', 'c2', 'c4', 'n2', 'n4', 'o3', 'o2', 'o4', 'r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7', 'r8', 'r9', 'r10', 'r11', 'r12', 'r13'], dtype='object')

- Openness: o1 + o2 + o3 + o4
- Conscientiousness: c1 + c2 + c3 + c4
- Extrovertness: e1 + e2 + e3 + e4
- Agreableness: a1 + a2 + a3 + a4
- Neuriticism: n1 + n2 + n3 + n4

In [5]:
df['e1'].unique()

array(['Neutral', 'Strongly Agree', 'Disagree', 'Strongly Disagree',
       'Agree'], dtype=object)

In [6]:
mapping  = {'Strongly Disagree':1, 'Disagree':2, 'Neutral':3, 'Agree':4, 'Strongly Agree':5}

In [7]:
df.shape

(33, 67)

In [8]:
df.columns.get_loc('e1')

34

In [9]:
df.iloc[:, 32:] = df.iloc[:, 32:].replace(mapping)

- Openness: OPN
- Conscientiousness: CSN
- Extroversion: EXT
- Agreeableness: ARG
- Neuroticism: NT
- Intelligence: INT

In [10]:
df['e2'] = 6-df['e2'] 
df['a2'] = 6-df['a2']
df['c2'] = 6-df['c2']
df['n2'] = 6-df['n2']
df['o2'] = 6-df['o2']
df['o3'] = 6-df['o3']
df['e4'] = 6-df['e4']
df['a4'] = 6-df['a4']
df['c4'] = 6-df['c4']
df['n4'] = 6-df['n4']
df['o4'] = 6-df['o4']

In [14]:
df['OPN'] = df[['o1', 'o2', 'o3', 'o4']].sum(axis = 1)
df['CSN'] = df[['c1', 'c2', 'c3', 'c4']].sum(axis = 1)
df['EXT'] = df[['e1', 'e2', 'e3', 'e4']].sum(axis = 1)
df['ARG'] = df[['a1', 'a2', 'a3', 'a4']].sum(axis = 1)
df['NT'] = df[['n1', 'n2', 'n3', 'n4']].sum(axis = 1)
df['INT'] = df[['r1', 'r2', 'r3', 'r4','r5', 'r6', 'r7', 'r8','r9', 'r10', 'r11', 'r12', 'r13']].sum(axis = 1)

In [16]:
df.to_csv('final(new).csv', index = False)

In [11]:
df1 = df.copy()

In [12]:
df2 = pd.read_csv('https://raw.githubusercontent.com/ds-mahbub/Correlation-Between-Personality-and-Courses/main/final(new).csv') # COLLECTED BY ME
df3 = pd.read_csv('https://raw.githubusercontent.com/ds-mahbub/Correlation-Between-Personality-and-Courses/main/final(old).csv') # GIVEN
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [13]:
print(df2.shape)
print(df3.shape)

(33, 73)
(49, 73)

In [14]:
print(df2.columns)

Index(['Timestamp', 'Name', 'Gender', 'Age', 'Division', 'Hobby', 'STH_WeeklyAvg', 'Email', 'HSC_Gpa', 'HSC_Group', 'HSC_Grade_Math', 'HSC_Grade_Physics', 'HSC_Grade_Biology', 'HSC_Grade_Chemistry', 'HSC_Grade_Accounting', 'HSC_Grade_Economics', 'HSC_Grade_BOM', 'HSC_Grade_FBI', 'HSC_Grade_Logic', 'HSC_Grade_History', 'HSC_Grade_Sociology', 'HSC_Grade_Geography', 'HSC_Grade_ICT', 'Fvrt_Subject', 'Fvrt_Sub_Grade', 'Undergraduate_Sub_Wanted', 'Undergraduate_Sub', 'University Name', 'Undergraduate_Programm', 'Year_Studying', 'Program_Advisor', 'Satisfaction', 'Current_CGPA', 'Difficulty_Undergraduate', 'e1', 'e3', 'a1', 'a3', 'c1', 'c3', 'n1', 'n3', 'o1', 'e2', 'e4', 'a4', 'a2', 'c2', 'c4', 'n2', 'n4', 'o3', 'o2', 'o4', 'r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7', 'r8', 'r9', 'r10', 'r11', 'r12', 'r13', 'OPN', 'CSN', 'EXT', 'ARG', 'NT', 'INT'], dtype='object')

In [15]:
print(df3.columns)

Index(['Timestamp', 'Name', 'Gender', 'Age ', 'Division', 'Hobby', 'STH_WeeklyAvg', 'email', 'HSC_GPA', 'HSC_Group', 'HSC_Grade_Math', 'HSC_Grade_Physics', 'HSC_Grade_Biology', 'HSC_Grade_Chemistry', 'HSC_Grade_Accounting', 'HSC_Grade_Economics', 'HSC_Grade_BOM', 'HSC_Grade_FBI', 'HSC_Grade_Logic', 'HSC_Grade_History', 'HSC_Grade_Sociology', 'HSC_Grade_Geography', 'HSC_Grade_ICT', 'Fvrt_Subject', 'Fvrt_Sub_Grade', 'Undergraduate_Sub_wanted', 'Undergraduate_Sub', 'University Name', 'Undergraduate_program', 'Year_Studying', 'Program_Advisor', 'Satisfication', 'Current_CGPA', 'Dificulty_Undergraduate', 'e1', 'e3', 'a1', 'a3', 'c1', 'c3', 'n1', 'n3', 'o1', 'e2', 'e4', 'a4', 'a2', 'c2', 'c4', 'n2', 'n4', 'o3', 'o2', 'o4', 'r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7', 'r8', 'r9', 'r10', 'r11', 'r12', 'r13', 'OPN', 'CSN', 'EXT', 'ARG', 'NT', 'INT'], dtype='object')

In [16]:
df3.rename(columns = { 'Age ':'Age','email':'Email', 'HSC_GPA':'HSC_Gpa','Undergraduate_Sub_wanted':'Undergraduate_Sub_Wanted', 'Undergraduate_program':'Undergraduate_Programm', 'Satisfication':'Satisfaction', 'Dificulty_Undergraduate':'Difficulty_Undergraduate'}, inplace = True)

In [17]:
df2.columns

Index(['Timestamp', 'Name', 'Gender', 'Age', 'Division', 'Hobby', 'STH_WeeklyAvg', 'Email', 'HSC_Gpa', 'HSC_Group', 'HSC_Grade_Math', 'HSC_Grade_Physics', 'HSC_Grade_Biology', 'HSC_Grade_Chemistry', 'HSC_Grade_Accounting', 'HSC_Grade_Economics', 'HSC_Grade_BOM', 'HSC_Grade_FBI', 'HSC_Grade_Logic', 'HSC_Grade_History', 'HSC_Grade_Sociology', 'HSC_Grade_Geography', 'HSC_Grade_ICT', 'Fvrt_Subject', 'Fvrt_Sub_Grade', 'Undergraduate_Sub_Wanted', 'Undergraduate_Sub', 'University Name', 'Undergraduate_Programm', 'Year_Studying', 'Program_Advisor', 'Satisfaction', 'Current_CGPA', 'Difficulty_Undergraduate', 'e1', 'e3', 'a1', 'a3', 'c1', 'c3', 'n1', 'n3', 'o1', 'e2', 'e4', 'a4', 'a2', 'c2', 'c4', 'n2', 'n4', 'o3', 'o2', 'o4', 'r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7', 'r8', 'r9', 'r10', 'r11', 'r12', 'r13', 'OPN', 'CSN', 'EXT', 'ARG', 'NT', 'INT'], dtype='object')

In [18]:
df3.columns

Index(['Timestamp', 'Name', 'Gender', 'Age', 'Division', 'Hobby', 'STH_WeeklyAvg', 'Email', 'HSC_Gpa', 'HSC_Group', 'HSC_Grade_Math', 'HSC_Grade_Physics', 'HSC_Grade_Biology', 'HSC_Grade_Chemistry', 'HSC_Grade_Accounting', 'HSC_Grade_Economics', 'HSC_Grade_BOM', 'HSC_Grade_FBI', 'HSC_Grade_Logic', 'HSC_Grade_History', 'HSC_Grade_Sociology', 'HSC_Grade_Geography', 'HSC_Grade_ICT', 'Fvrt_Subject', 'Fvrt_Sub_Grade', 'Undergraduate_Sub_Wanted', 'Undergraduate_Sub', 'University Name', 'Undergraduate_Programm', 'Year_Studying', 'Program_Advisor', 'Satisfaction', 'Current_CGPA', 'Difficulty_Undergraduate', 'e1', 'e3', 'a1', 'a3', 'c1', 'c3', 'n1', 'n3', 'o1', 'e2', 'e4', 'a4', 'a2', 'c2', 'c4', 'n2', 'n4', 'o3', 'o2', 'o4', 'r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7', 'r8', 'r9', 'r10', 'r11', 'r12', 'r13', 'OPN', 'CSN', 'EXT', 'ARG', 'NT', 'INT'], dtype='object')

In [19]:
x = set(df2.columns)
y = set(df3.columns)

In [20]:
similarity = x.intersection(y)

In [21]:
print(len(similarity))

73

In [22]:
final_df = pd.concat([df2, df3], axis = 0)

In [23]:
final_df.shape

(82, 73)

In [32]:
final_df.to_csv('final_df.csv')

In [24]:
# final_df.dtypes

In [25]:
final_df['HSC_Group'].unique()

array(['Science', 'Commerce', 'Arts'], dtype=object)

In [26]:
clean_up={'HSC_Group':{'Science':2, 'Commerce':1, 'Arts':0 }}

In [27]:
dff=final_df.replace(clean_up)

In [28]:
dff['HSC_Group'].unique()

array([2, 1, 0], dtype=int64)

In [29]:
df.columns.get_loc('HSC_Grade_Math')

10

In [30]:
df.columns.get_loc('HSC_Grade_ICT')

22

In [31]:
final_df['HSC_Grade_Geography'].unique()

array([nan, 'B', 'Not Applicable', 'A-'], dtype=object)

In [32]:
clean={'A':4, 'Not Applicable':0, np.nan:0, 'A+':5, 'A-':3, 'B':2, 'Not applicable':0}

In [33]:
dff.iloc[:, 10:23]=dff.iloc[:, 10:23].replace(clean)

In [34]:
# dff.iloc[:, 10:23]

In [35]:
# dff.reset_index().head()

In [36]:
from sklearn.preprocessing import LabelEncoder
L_encoder= LabelEncoder()
dff['Gender']=L_encoder.fit_transform(dff['Gender'])

In [37]:
dff['Difficulty_Undergraduate'].unique()

array(['Yes', 'Sometimes', 'No'], dtype=object)

In [38]:
clean_up = {'Yes':2, 'Sometimes':1, 'No':0}
dff['Difficulty_Undergraduate'] = dff['Difficulty_Undergraduate'].replace(clean_up)

In [39]:
clean_up = {'A':4, 'Not Applicable':0, np.nan:0, 'A+':5, 'A-':3, 'B':2}

In [40]:
dff['Fvrt_Sub_Grade'] = dff['Fvrt_Sub_Grade'].replace(clean_up)

In [41]:
dff['Fvrt_Sub_Grade'].unique()

array([4, 5, 3], dtype=int64)

In [42]:
dff['Satisfaction'].unique()

array(['No', 'Yes'], dtype=object)

In [43]:
clean_up = {'No':0, 'Yes':1}

In [44]:
dff['Satisfaction'] = dff['Satisfaction'].replace(clean_up)

In [45]:
dff['Satisfaction'].unique()

array([0, 1], dtype=int64)

In [46]:
col_drop=['Timestamp', 'Name','Email', 'STH_WeeklyAvg']
dff.drop(columns=col_drop, inplace=True)

In [47]:
dff['Hobby']=L_encoder.fit_transform(dff['Hobby'])

In [48]:
dff['Hobby'].unique()

array([37,  9, 39, 19, 24, 22,  5, 23,  2, 40,  8, 10, 15, 20, 34, 38, 43,
       44, 65, 18, 35,  3, 42, 68, 21,  1,  7, 41, 36, 66, 46, 45, 49, 25,
       48, 54, 31, 29, 62,  0, 26, 30, 28, 59, 17, 14,  4, 27, 50, 16, 61,
       52, 69, 51, 33, 11, 32, 67, 63, 56, 55, 12, 47, 64, 60,  6, 58, 13,
       53, 57])

In [49]:
encoded_gpa = {'4.5 - 4.9':6, '5':7, '4.0 -4.4':5, '2.5-2.9':2, '3.5-3.9':4, '4.5- 4.9':6,'4.0- 4.4':5, '3.5 - 3.9':4}

In [50]:
dff['HSC_Gpa'] = dff['HSC_Gpa'].replace(encoded_gpa)

In [51]:
dff['HSC_Gpa'].unique()

array([6, 7, 5, 2, 4], dtype=int64)

In [52]:
sample = dff.sample(5)

In [53]:
sample

    Gender    Age             Division  Hobby  HSC_Gpa  HSC_Group HSC_Grade_Math HSC_Grade_Physics HSC_Grade_Biology HSC_Grade_Chemistry HSC_Grade_Accounting HSC_Grade_Economics HSC_Grade_BOM HSC_Grade_FBI HSC_Grade_Logic HSC_Grade_History HSC_Grade_Sociology HSC_Grade_Geography HSC_Grade_ICT  Fvrt_Subject  Fvrt_Sub_Grade                           Undergraduate_Sub_Wanted         Undergraduate_Sub                        University Name Undergraduate_Programm Year_Studying                                    Program_Advisor  Satisfaction Current_CGPA  Difficulty_Undergraduate  e1  e3  a1  a3  c1  c3  n1  n3  o1  e2  e4  a4  a2  c2  c4  n2  n4  o3  o2  o4  r1  r2  r3  r4  r5  r6  r7  r8  r9  r10  r11  r12  r13  OPN  CSN  EXT  ARG  NT  INT
47       1  20-22       Dhaka Division     53        7          2              5                 5                 5                   5                    0                   0             0             0               0                 0                   0                   0             5       Biology               5  Biological Sciences/ Life Sciences (includes A...  Engineering & Technology  University Malaysia Sarawak ( UNIMAS)                    CSE           4th  Guided by parents/guardian/relatives;Influence...             1   3.00- 3.25                         2   3   5   5   5   3   4   4   4   3   5   5   5   3   4   5   4   2   1   2   5   4   3   4   4   2   2   3   3   3    3    5  2.0    2   11   16   18   18  14   40
33       1  20-22       Dhaka Division     67        7          2              5                 5                 5                   5                    0                   0             0             0               0                 0                   0                   0             5  Physics, ICT               5                           Engineering & Technology  Engineering & Technology       United International University                     CSE           1st               Inspired by your passion or interest             1  4.00 - 3.75                         0   3   5   5   5   4   5   1   3   3   3   5   1   1   2   2   1   3   2   2   4   4   3   5   5   4   5   4   4   5    1    3  2.0    1   11   13   16   12   8   46
21       0  18-20  Chittagong Division     27        6          1              0                 0                 0                   0                    4                   0             5             5               0                 0                   0                   0             5   Accounting                4                                   Business Studies         Arts & Humanities                   University of Dhaka             Linguistics           3rd                       Influenced by current trends             0    3.25- 3.4                         2   1   2   3   3   2   3   4   4   4   2   2   3   2   4   3   4   4   3   3   4   2   3   4   3   3   2   2   1   4    4    4  3.0    3   14   12    7   11  16   38
26       1  20-22                Dhaka     34        6          2              4                 4                 5                   5                    0                   0             0             0               0                 0                   0                   0             5       Biology               5                           Engineering & Technology  Engineering & Technology       United International University                     CSE      3rd year               Inspired by your passion or interest             1  2.75 - 2.99                         2   4   5   4   5   2   2   4   5   1   5   4   3   1   4   3   4   2   3   3   2   2   2   3   4   1   5   4   5   5    2    5  5.0    3    9   11   18   13  15   46
28       1  20-22             Rajshahi      7        7          2              5                 5                 5                   5                    0                   0             0             0               0                 0                   0                   0             4       Physics               5                           Engineering & Technology  Engineering & Technology       United international university                     CSE      2nd year  Inspired by your passion or interest, Influenc...             0    3.5 -3.74                         1   2   3   5   4   3   4   5   5   4   2   3   2   2   1   1   3   1   1   3   3   3   3   4   4   2   4   1   1   5    5    5  4.0    3   11    9   10   13  14   44

In [54]:
dff['Current_CGPA'].unique()

array(['Below 2.75', '3.00-3.25', '3.5 -3.74', '3.00-3.24', '3.25-3.49',
       '2.75 - 2.99', '3.75-4.00', '3.5- 3.74', '4.00 - 3.75', nan,
       '3.25- 3.4', '2.75-2.9', '3.00- 3.25'], dtype=object)

In [55]:
encoded_current_cgpa = {'Below 2.75':1, '3.00-3.25':3, '3.5 -3.74':5, '3.00-3.24':3, '3.25-3.49':4,'2.75 - 2.99':2, '3.75-4.00':6, '3.5- 3.74':5, '4.00 - 3.75':6, np.nan:0,'3.25- 3.4':4, '2.75-2.9':2, '3.00- 3.25':3}

In [56]:
dff['Current_CGPA'] = dff['Current_CGPA'].replace(encoded_current_cgpa)

In [57]:
dff['Current_CGPA'].unique()

array([1, 3, 5, 4, 2, 6, 0], dtype=int64)

In [58]:
df_last = dff.copy()

In [86]:
col_mapping = {
                  'HSC_Grade_Math': 'Grade_Math',
                  'HSC_Grade_Physics': 'Grade_Phy',
                  'HSC_Grade_Biology': 'Grade_Bio',
                  'HSC_Grade_Chemistry': 'Grade_Chem',
                  'HSC_Grade_Accounting': 'Grade_Acc',
                  'HSC_Grade_Economics': 'Grade_Eco',
                  'HSC_Grade_BOM': 'Grade_Bom',
                  'HSC_Grade_FBI': 'Grade_FBI',
                  'HSC_Grade_Logic': 'Grade_Log',
                  'HSC_Grade_History': 'Grade_Hist',
                  'HSC_Grade_Sociology': 'Grade_Socio',
                  'HSC_Grade_Geography': 'Grade_Geo',
                  'HSC_Grade_ICT': 'Grade_ICT',
                  'University Name': 'Name_Uni',
                  'Undergraduate_Programm': 'Prog_Undergrad',
                  'Undergraduate_Sub': 'Sub_Undergrad'
                  
                  }

# Using the rename method to change column names
df_last.rename(columns=col_mapping, inplace=True)

In [68]:
df_last.sample()

    Gender       Age           Division  Hobby  HSC_Gpa  HSC_Group HSC_Grade_Math HSC_Grade_Physics HSC_Grade_Biology HSC_Grade_Chemistry HSC_Grade_Accounting HSC_Grade_Economics HSC_Grade_BOM HSC_Grade_FBI HSC_Grade_Logic HSC_Grade_History HSC_Grade_Sociology HSC_Grade_Geography HSC_Grade_ICT    Fvrt_Subject  Fvrt_Sub_Grade  Undergraduate_Sub_Wanted         Undergraduate_Sub                        University Name Undergraduate_Programm Year_Studying                       Program_Advisor  Satisfaction  Current_CGPA  Difficulty_Undergraduate  e1  e3  a1  a3  c1  c3  n1  n3  o1  e2  e4  a4  a2  c2  c4  n2  n4  o3  o2  o4  r1  r2  r3  r4  r5  r6  r7  r8  r9  r10  r11  r12  r13  OPN  CSN  EXT  ARG  NT  INT
48       1  22 above  Rajshahi Division     57        4          2              0                 0                 0                   0                    0                   0             0             0               0                 0                   0                   0             0  Math & Physics               4  Engineering & Technology  Engineering & Technology  United International University (UIU)                    CSE           NaN  Inspired by your passion or interest             1             1                         1   4   4   5   5   4   4   2   1   4   2   4   3   3   5   3   1   5   4   4   4   4   3   5   5   4   4   5   5   4    1    4  4.0    3   16   16   14   16   9   51

In [60]:
df_last['Age'].unique()

array(['22 above', '20-22', '18-20', '16-18'], dtype=object)

In [61]:
# df_last['Age']=L_encoder.fit_transform(df_last['Age'])

In [62]:
df_last['Age'].unique()

array(['22 above', '20-22', '18-20', '16-18'], dtype=object)

In [69]:
df_last['Undergraduate_Sub'].unique()

array(['Pure & Applied Sciences', 'Engineering & Technology',
       'Business Administration', 'Arts & Humanities', 'Social Sciences',
       'Medicine & Health Science',
       'Biological Sciences/Life Sciences (includes Agriculture, Soil / water)',
       'Law',
       'Biological Sciences/ Life Sciences (includes Agriculture, Soil/water)',
       nan], dtype=object)

In [81]:
# df_last.to_csv('final_data.csv', index = False)

In [72]:
drop_col=['Division', 'University Name']
df_last.drop(columns=drop_col, inplace=True)

In [73]:
df_last['Fvrt_Subject']=L_encoder.fit_transform(df_last['Fvrt_Subject'])

In [74]:
df_last.drop(columns = 'Program_Advisor', inplace = True)

In [75]:
df_last.drop(columns = 'Year_Studying', inplace = True)

In [76]:
df_last['Undergraduate_Sub_Wanted'].unique()

array(['Engineering & Technology', 'Business Admisistration',
       'Pure & Applied Sciences', 'Arts & Humanities',
       'Medicine & Health Science',
       'Biological Sciences/Life Sciences (includes Agriculture, Soil / water)',
       'Law',
       'Biological Sciences/ Life Sciences (includes Agriculture, Soil/water)',
       'Business Studies', 'Business Administration'], dtype=object)

In [78]:
df_last['Undergraduate_Sub'].unique()

array(['Pure & Applied Sciences', 'Engineering & Technology',
       'Business Administration', 'Arts & Humanities', 'Social Sciences',
       'Medicine & Health Science',
       'Biological Sciences/Life Sciences (includes Agriculture, Soil / water)',
       'Law',
       'Biological Sciences/ Life Sciences (includes Agriculture, Soil/water)',
       nan], dtype=object)

In [101]:
df_last.head()

   Gender       Age  Hobby  HSC_Gpa  HSC_Group HSC_Grade_Math HSC_Grade_Physics HSC_Grade_Biology HSC_Grade_Chemistry HSC_Grade_Accounting HSC_Grade_Economics HSC_Grade_BOM HSC_Grade_FBI HSC_Grade_Logic HSC_Grade_History HSC_Grade_Sociology HSC_Grade_Geography HSC_Grade_ICT  Fvrt_Subject  Fvrt_Sub_Grade  Undergraduate_Sub_Wanted         Undergraduate_Sub Undergraduate_Programm  Satisfaction  Current_CGPA  Difficulty_Undergraduate  e1  e3  a1  a3  c1  c3  n1  n3  o1  e2  e4  a4  a2  c2  c4  n2  n4  o3  o2  o4  r1  r2  r3  r4  r5  r6  r7  r8  r9  r10  r11  r12  r13  OPN  CSN  EXT  ARG  NT  INT
0       1  22 above     37        6          2              5                 4                 4                   4                    0                   0             0             0               0                 0                   0                   0             5             6               4  Engineering & Technology   Pure & Applied Sciences             Statistics             0             1                         2   3   2   4   5   5   5   4   2   4   2   3   3   2   2   3   3   2   4   2   5   4   5   5   4   4   3   4   5   4    3    3  4.0    1   15   15   10   14  11   49
1       1  22 above      9        6          2              5                 5                 4                   4                    0                   0             0             0               0                 0                   0                   0             4            24               5  Engineering & Technology  Engineering & Technology                    CSE             1             3                         1   5   4   3   4   4   4   1   1   5   3   4   4   3   3   3   1   4   5   4   5   3   3   3   4   4   3   3   4   5    1    4  3.0    3   19   14   16   14   7   43
2       1  22 above     39        7          2              5                 5                 0                   5                    0                   0             0             0               0                 0                   0                   0             5            24               4  Engineering & Technology  Engineering & Technology                     CE             1             5                         1   2   1   5   5   4   5   4   1   1   4   1   1   4   4   4   3   5   4   2   5   3   3   5   5   4   3   5   5   5    1    1  2.0    1   12   17    8   15  13   43
3       1  22 above     19        5          1              0                 0                 0                   0                    5                   4             5             4               0                 0                   0                   0             5             0               4   Business Admisistration   Business Administration              Marketing             1             3                         0   3   4   3   3   3   4   4   4   4   3   4   3   3   3   4   3   3   4   4   5   4   3   4   3   3   4   4   3   4    4    4  1.0    2   17   14   14   12  14   43
4       1     20-22     24        7          2              5                 4                 5                   5                    0                   0             0             0               0                 0                   0                   0             4             2               5  Engineering & Technology   Pure & Applied Sciences             Statistics             0             5                         2   3   2   5   5   3   5   2   4   4   1   2   2   1   5   4   4   4   4   4   4   4   3   4   4   3   4   5   5   4    2    4  2.0    2   16   17    8   13  14   46

In [97]:
# df_last.to_csv('train_test2.csv', index = False)

In [80]:
# train_test = pd.read_csv('https://raw.githubusercontent.com/ds-mahbub/Correlation-Between-Personality-and-Courses/main/train_test.csv') # encoded age

In [98]:
train_test2 = pd.read_csv('https://raw.githubusercontent.com/ds-mahbub/Correlation-Between-Personality-and-Courses/main/train_test2.csv') #unencoded age

In [102]:
train_test2.head()

   Gender       Age  Hobby  HSC_Gpa  HSC_Group  HSC_Grade_Math  HSC_Grade_Physics  HSC_Grade_Biology  HSC_Grade_Chemistry  HSC_Grade_Accounting  HSC_Grade_Economics  HSC_Grade_BOM  HSC_Grade_FBI  HSC_Grade_Logic  HSC_Grade_History  HSC_Grade_Sociology  HSC_Grade_Geography  HSC_Grade_ICT  Fvrt_Subject  Fvrt_Sub_Grade  Undergraduate_Sub_Wanted         Undergraduate_Sub Undergraduate_Programm  Satisfaction  Current_CGPA  Difficulty_Undergraduate  e1  e3  a1  a3  c1  c3  n1  n3  o1  e2  e4  a4  a2  c2  c4  n2  n4  o3  o2  o4  r1  r2  r3  r4  r5  r6  r7  r8  r9  r10  r11  r12  r13  OPN  CSN  EXT  ARG  NT  INT
0       1  22 above     37        6          2               5                  4                  4                    4                     0                    0              0              0                0                  0                    0                    0              5             6               4  Engineering & Technology   Pure & Applied Sciences             Statistics             0             1                         2   3   2   4   5   5   5   4   2   4   2   3   3   2   2   3   3   2   4   2   5   4   5   5   4   4   3   4   5   4    3    3  4.0    1   15   15   10   14  11   49
1       1  22 above      9        6          2               5                  5                  4                    4                     0                    0              0              0                0                  0                    0                    0              4            24               5  Engineering & Technology  Engineering & Technology                    CSE             1             3                         1   5   4   3   4   4   4   1   1   5   3   4   4   3   3   3   1   4   5   4   5   3   3   3   4   4   3   3   4   5    1    4  3.0    3   19   14   16   14   7   43
2       1  22 above     39        7          2               5                  5                  0                    5                     0                    0              0              0                0                  0                    0                    0              5            24               4  Engineering & Technology  Engineering & Technology                     CE             1             5                         1   2   1   5   5   4   5   4   1   1   4   1   1   4   4   4   3   5   4   2   5   3   3   5   5   4   3   5   5   5    1    1  2.0    1   12   17    8   15  13   43
3       1  22 above     19        5          1               0                  0                  0                    0                     5                    4              5              4                0                  0                    0                    0              5             0               4   Business Admisistration   Business Administration              Marketing             1             3                         0   3   4   3   3   3   4   4   4   4   3   4   3   3   3   4   3   3   4   4   5   4   3   4   3   3   4   4   3   4    4    4  1.0    2   17   14   14   12  14   43
4       1     20-22     24        7          2               5                  4                  5                    5                     0                    0              0              0                0                  0                    0                    0              4             2               5  Engineering & Technology   Pure & Applied Sciences             Statistics             0             5                         2   3   2   5   5   3   5   2   4   4   1   2   2   1   5   4   4   4   4   4   4   4   3   4   4   3   4   5   5   4    2    4  2.0    2   16   17    8   13  14   46

In [104]:
train_test2.drop(columns = 'Undergraduate_Programm', inplace = True)

In [107]:
train_test2['Undergraduate_Sub_Wanted'].unique()

array(['Engineering & Technology', 'Business Admisistration',
       'Pure & Applied Sciences', 'Arts & Humanities',
       'Medicine & Health Science',
       'Biological Sciences/Life Sciences (includes Agriculture, Soil / water)',
       'Law',
       'Biological Sciences/ Life Sciences (includes Agriculture, Soil/water)',
       'Business Studies', 'Business Administration'], dtype=object)

In [108]:
encoded_wanted_sub = {
       'Engineering & Technology':'a', 
       'Business Admisistration':'f',
       'Pure & Applied Sciences':'c', 
       'Arts & Humanities':'b',
       'Medicine & Health Science':'i',
       'Biological Sciences/Life Sciences (includes Agriculture, Soil / water)':'d',
       'Law':'g',
       'Biological Sciences/ Life Sciences (includes Agriculture, Soil/water)':'d',
       'Business Studies':'h', 
       'Business Administration':'f'}

In [109]:
train_test2['Undergraduate_Sub_Wanted'] = train_test2['Undergraduate_Sub_Wanted'].replace(encoded_wanted_sub)

In [110]:
train_test2['Undergraduate_Sub_Wanted'].unique()

array(['a', 'f', 'c', 'b', 'i', 'd', 'g', 'h'], dtype=object)

In [112]:
train_test2['Undergraduate_Sub'].unique()

array(['Pure & Applied Sciences', 'Engineering & Technology',
       'Business Administration', 'Arts & Humanities', 'Social Sciences',
       'Medicine & Health Science',
       'Biological Sciences/Life Sciences (includes Agriculture, Soil / water)',
       'Law',
       'Biological Sciences/ Life Sciences (includes Agriculture, Soil/water)',
       nan], dtype=object)

In [90]:
encoded_sub_undergrad = {
    'Pure & Applied Sciences':'c', 
    'Engineering & Technology':'a',
    'Business Administration':'f', 
    'Arts & Humanities':'b', 
    'Social Sciences':'e',
    'Medicine & Health Science':'i',
    'Biological Sciences/Life Sciences (includes Agriculture, Soil / water)':'d',
    'Law':'g',
    'Biological Sciences/ Life Sciences (includes Agriculture, Soil/water)':'d'}

In [113]:
train_test2['Undergraduate_Sub'] = train_test2['Undergraduate_Sub'].replace(encoded_sub_undergrad)

In [114]:
train_test2['Undergraduate_Sub'].unique()

array(['c', 'a', 'f', 'b', 'e', 'i', 'd', 'g', nan], dtype=object)

In [93]:
# train_test2.drop(columns = 'Unnamed: 0', inplace = True)

In [94]:
train_test2.head()

   Gender  Age  Hobby  HSC_Gpa  HSC_Group  Grade_Math  Grade_Phy  Grade_Bio  Grade_Chem  Grade_Acc  Grade_Eco  Grade_Bom  Grade_FBI  Grade_Log  Grade_Hist  Grade_Socio  Grade_Geo  Grade_ICT  Fvrt_Subject  Fvrt_Sub_Grade Undergraduate_Sub_Wanted Sub_Undergrad  Satisfaction  Current_CGPA  Difficulty_Undergraduate  e1  e3  a1  a3  c1  c3  n1  n3  o1  e2  e4  a4  a2  c2  c4  n2  n4  o3  o2  o4  r1  r2  r3  r4  r5  r6  r7  r8  r9  r10  r11  r12  r13  OPN  CSN  EXT  ARG  NT  INT
0       1    3     37        6          2           5          4          4           4          0          0          0          0          0           0            0          0          5             6               4                        a             c             0             1                         2   3   2   4   5   5   5   4   2   4   2   3   3   2   2   3   3   2   4   2   5   4   5   5   4   4   3   4   5   4    3    3  4.0    1   15   15   10   14  11   49
1       1    3      9        6          2           5          5          4           4          0          0          0          0          0           0            0          0          4            24               5                        a             a             1             3                         1   5   4   3   4   4   4   1   1   5   3   4   4   3   3   3   1   4   5   4   5   3   3   3   4   4   3   3   4   5    1    4  3.0    3   19   14   16   14   7   43
2       1    3     39        7          2           5          5          0           5          0          0          0          0          0           0            0          0          5            24               4                        a             a             1             5                         1   2   1   5   5   4   5   4   1   1   4   1   1   4   4   4   3   5   4   2   5   3   3   5   5   4   3   5   5   5    1    1  2.0    1   12   17    8   15  13   43
3       1    3     19        5          1           0          0          0           0          5          4          5          4          0           0            0          0          5             0               4                        f             f             1             3                         0   3   4   3   3   3   4   4   4   4   3   4   3   3   3   4   3   3   4   4   5   4   3   4   3   3   4   4   3   4    4    4  1.0    2   17   14   14   12  14   43
4       1    2     24        7          2           5          4          5           5          0          0          0          0          0           0            0          0          4             2               5                        a             c             0             5                         2   3   2   5   5   3   5   2   4   4   1   2   2   1   5   4   4   4   4   4   4   4   3   4   4   3   4   5   5   4    2    4  2.0    2   16   17    8   13  14   46

In [124]:
# train_test.to_csv('whatsnext.csv', index = False)

In [95]:
train_test.to_csv('whatsnext2.csv', index = False)